<a href="/product/detail/<%= id %> ">
    <figure class="product-box_image">
        <img src="/images/products/<%= image %> " alt="imagen de producto">
    </figure>
    <article class="product-box_data">
        <h2><%= title %> </h2>
        <span>DISCOUNT % OFF</span>
        <p>PRODUCT NAME</p>
        <i class="fas fa-truck"></i>
    </article>
</a>